
<div class="hy_list row hy">
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
		<a href="product-list.html"><img src="img/p1.png">
		<h3>光通信行业</h3></a>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
		<a href="product-list.html"><img src="img/p1.png" alt=""></a>
		<h3>汽车电子</h3></a>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
		<a href="product-list.html"><img src="img/p1.png" alt=""></a>
		<h3>新能源行业</h3></a>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
		<a href="product-list.html"><img src="img/p1.png" alt=""></a>
		<h3>电感行业</h3></a>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
		<a href="product-list.html"><img src="img/p1.png" alt=""></a>
		<h3>电源行业</h3></a>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
		<a href="product-list.html"><img src="img/p1.png" alt=""></a>
		<h3>光伏行业</h3></a>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
		<a href="product-list.html"><img src="img/p1.png" alt=""></a>
		<h3>显示行业</h3></a>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
		<a href="product-list.html"><img src="img/p1.png" alt=""></a>
		<h3>SMT行业</h3></a>
	</div>
</div>