
<style type="text/css">
	.hy div{
		margin-bottom: 60px;
	}
</style>
<div class="hy_list row hy">
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
		<img src="img/p1.png" height width="100"="348" width="567" alt=""></a>
		<a href="product_list.html"><h3>光通信行业</h3>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
		<img src="img/p1.png" alt="" width="100"></a>
		<a href="product_list.html"><h3>汽车电子</h3>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
		<img src="img/p1.png" alt="" width="100"></a>
		<a href="product_list.html"><h3>新能源行业</h3>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
		<img src="img/p1.png" alt="" width="100"></a>
		<a href="product_list.html"><h3>电感行业</h3>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
		<img src="img/p1.png" alt="" width="100"></a>
		<a href="product_list.html"><h3>电源行业</h3>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
		<img src="img/p1.png" alt="" width="100"></a>
		<a href="product_list.html"><h3>光伏行业</h3>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
		<img src="img/p1.png" alt="" width="100"></a>
		<a href="product_list.html"><h3>显示行业</h3>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
		<img src="img/p1.png" alt="" width="100"></a>
		<a href="product_list.html"><h3>SMT行业</h3>
	</div>
</div>