
<!-- Footer -->
<div class="footer">
    <ul class="container">
        <li class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <h3>关于三泰</h3>
            <ul class="row">
                <li class="col-md-12 col-sm-6 col-xs-6"><a href="##">企业介绍</a></li>
                <li class="col-md-12 col-sm-6 col-xs-6"><a href="##">合作伙伴</a></li>
                <li class="col-md-12 col-sm-6 col-xs-6"><a href="##">企业文化</a></li>
                <li class="col-md-12 col-sm-6 col-xs-6"><a href="##">人力资源</a></li>
            </ul>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h3>产品展示</h3>
            <ul class="row">
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="##">粘接密封材料</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="##">灌封材料</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="##">导热材料</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="##">电磁屏蔽材料</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="##">导电胶</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="##">UV固化材料</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="##">三防涂覆材料</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="##">润滑材料</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="##">清洗材料</a></li>
            </ul>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h3>行业应用</h3>
            <ul class="row">
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="##">光通信行业</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="##">汽车电子行业</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="##">新能源行业</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="##">SMT行业</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="##">显示行业</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="##">电源行业</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="##">光伏行业</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="##">电感行业</a></li>
            </ul>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <h3>品牌专区</h3>
            <ul class="row">
                <li class="col-md-12 col-sm-6 col-xs-6"><a href="##">三泰硅宝</a></li>
                <li class="col-md-12 col-sm-6 col-xs-6"><a href="##">道康宁</a></li>
                <li class="col-md-12 col-sm-6 col-xs-6"><a href="##">IBOND</a></li>
                <li class="col-md-12 col-sm-6 col-xs-6"><a href="##">汉高乐泰</a></li>
            </ul>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <h3>联系我们</h3>
            <ul class="row">
                <li class="col-md-12 col-sm-12 col-xs-12">武汉三泰硅宝新材料有限公司</li>
                <li class="col-md-12 col-sm-12 col-xs-12">电话：027-87551866  传真：027-87551866</li>
                <li class="col-md-12 col-sm-12 col-xs-12">公司邮箱：postmaster@whsanti.com</li>
                <li class="col-md-12 col-sm-12 col-xs-12">公司网站：www.whsanti.com</li>
                <li class="col-md-12 col-sm-12 col-xs-12">地址：武汉市东湖高新区光谷大道58号东一号楼三楼</li>
            </ul>
        </li>
    </ul>
</div>
<!-- Footer -->
