<div class="left_bottom">
            <div class="icon"><img src="./img/p1.png" alt=""></div>
            <h2 class="mian-title">联系我们</h2>
            <div class="information">
                <div>
                    <span><strong style="font-size:18px;">武汉三泰：武汉三泰硅宝新材料有限公司</strong></span>
                </div>
                <div>
                    <span>地址：武汉市东湖高新区光谷大道58号东一号楼三楼</span>
                </div>
                <div>
                    <span>电话：027-81551866  传真：027-87551866</span>
                </div>
                <div>
                    <span>邮箱：postmaster@whsanti.com</span>
                </div>
                <div>
                    <span>公司网站：<a href="www.whsanti.com">www.whsanti.com</a></span>
                </div>
                <div>
                    <span><strong style="font-size:15px;">深圳三泰</strong>：深圳三泰光电有限公司</span>
                </div>
                <div>
                    <span>地址：深圳市宝安23区创业二路东联创业园B座6层</span>
                </div>
                <div>
                    <span>电话：0755-27885799 传真：0755-29993519</span>
                </div>
                <div>
                    <span><strong style="font-size:15px;">北京三泰</strong>：北京三泰硅宝电子材料有限公司</span>
                </div>
                <div>
                    <span>地址：北京市通州区梨园镇小街华业东方玫瑰51号楼  </span>
                </div>
                <div>
                    <span>电话：010-56252019  传真：010-808118</span>
                </div>
                <div>
                    <span><strong style="font-size:15px;">工厂地址</strong>：广州市南沙区榄核镇蔡新路351号201栋</span>
                </div>
            </div>
        </div>